# udev rule for wpv4
#
#KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE:="0777", SYMLINK+="ftdi"
#udevadm info -a /dev/ttyUSB0 |  grep 'KERNELS'
KERNEL=="ttyUSB*", KERNELS=="1-1.1.2", MODE:="0777", SYMLINK+="wpv4_imu"
KERNEL=="ttyUSB*", KERNELS=="1-1.1.1", MODE:="0777", SYMLINK+="wpv4_base"
KERNEL=="ttyUSB*", KERNELS=="1-1.1.3", MODE:="0777", SYMLINK+="wpv4_mani"
KERNEL=="ttyUSB*", KERNELS=="2-1.3", MODE:="0777", SYMLINK+="wpv4_gps"
KERNEL=="ttyUSB*", KERNELS=="2-1.1.1.4", MODE:="0777", SYMLINK+="wpv4_pt"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0777", SYMLINK+="ublox_gps"

KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea61", MODE:="0777", SYMLINK+="lpms_imu"