<launch>

  <arg name="model" default="$(find wpv4_bringup)/urdf/wpv4_wpm2.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find wpv4_bringup)/rviz/sensor.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node if="$(arg gui)" name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
    <rosparam command="load" file="$(find wpv4_bringup)/config/wpv4_zeros.yaml" />
  </node>
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <rosparam command="load" file="$(find wpv4_bringup)/config/wpv4_zeros.yaml" />
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <!--- Run Kinect -->
  <!-- <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" /> -->

</launch>
