<launch>

  <arg name="model" default="$(find wpv4_bringup)/urdf/wpv4_m2_lms151.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find wpv4_bringup)/rviz/mani.rviz" />

  <!--- sick -->
  <arg name="host" default="192.168.0.2" />
  <node pkg="lms1xx" name="lms1xx" type="LMS1xx_node">
    <param name="host" value="$(arg host)" />
  </node>

  <!-- openzen_sensor-->
  <node pkg="openzen_sensor" type="openzen_sensor_node" name="openzen_sensor_node" />

  <!-- wpv4 core-->
  <node pkg="wpv4_bringup" type="wpv4_core" name="wpv4_core" output="screen">
      <param name="serial_port" type="string" value="/dev/wpv4_base"/> 
      <param name="chassis_type" type="string" value="4wd"/> 
      <param name="joint_state" type="bool" value="true"/> 
  </node>

  <!-- wpm2 core-->
  <node name="wpm2_core" pkg="wpm2_bringup" type="wpm2_core" output="screen">
      <param name="serial_port" type="string" value="/dev/wpv4_mani"/> 
  </node>

  <!--- ublox_gps-->
  <node pkg="ublox_gps" type="ublox_gps" name="ublox_gps" clear_params="true" respawn="true" respawn_delay="30">
    <rosparam command="load" file="$(find wpv4_bringup)/config/m8n.yaml" />
  </node>

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
